<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.example.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leaveApplicationProcess</servlet-name>
        <servlet-class>com.example.leaveApplicationProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveApprovalProcess</servlet-name>
        <servlet-class>com.example.LeaveApprovalProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leaveApplicationProcess</servlet-name>
        <url-pattern>/leaveApplicationProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveApprovalProcess</servlet-name>
        <url-pattern>/LeaveApprovalProcess</url-pattern>
    </servlet-mapping>
</web-app>
